In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aklavik,CA,2021-11-20 19:49:28,68.2191,-135.0107,4.03,85,75,4.61
1,1,Libreville,GA,2021-11-20 19:49:29,0.3925,9.4537,75.22,94,20,4.61
2,2,Mecca,SA,2021-11-20 19:49:30,21.4267,39.8261,74.73,54,40,5.48
3,3,Pascagoula,US,2021-11-20 19:49:30,30.3658,-88.5561,74.05,66,1,8.05
4,4,Cape Town,ZA,2021-11-20 19:46:31,-33.9258,18.4232,68.11,60,20,13.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Libreville,GA,2021-11-20 19:49:29,0.3925,9.4537,75.22,94,20,4.61
8,8,Puerto Escondido,MX,2021-11-20 19:49:33,15.8500,-97.0667,86.32,58,0,5.91
10,10,Bandarbeyla,SO,2021-11-20 19:49:33,9.4942,50.8122,76.91,72,9,7.81
17,17,Bensonville,LR,2021-11-20 19:49:37,6.4461,-10.6125,78.35,84,49,3.94
27,27,Atuona,PF,2021-11-20 19:49:42,-9.8000,-139.0333,79.27,71,2,14.56
28,28,Puerto Ayora,EC,2021-11-20 19:49:42,-0.7393,-90.3518,78.76,73,38,10.78
31,31,Sorong,ID,2021-11-20 19:49:44,-0.8833,131.2500,79.70,83,100,3.78
32,32,Georgetown,MY,2021-11-20 19:45:42,5.4112,100.3354,80.53,89,20,1.99
33,33,Comodoro Rivadavia,AR,2021-11-20 19:49:45,-45.8667,-67.5000,78.66,25,40,32.21
35,35,Wewak,PG,2021-11-20 19:49:46,-3.5534,143.6268,77.67,84,81,3.36

In [19]:
preferred_cities_df.count()

City_ID       170
City          170
Country       168
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
1           Libreville      GA     75.22   0.3925    9.4537
8     Puerto Escondido      MX     86.32  15.8500  -97.0667
10         Bandarbeyla      SO     76.91   9.4942   50.8122
17         Bensonville      LR     78.35   6.4461  -10.6125
27              Atuona      PF     79.27  -9.8000 -139.0333
28        Puerto Ayora      EC     78.76  -0.7393  -90.3518
31              Sorong      ID     79.70  -0.8833  131.2500
32          Georgetown      MY     80.53   5.4112  100.3354
33  Comodoro Rivadavia      AR     78.66 -45.8667  -67.5000
35               Wewak      PG     77.67  -3.5534  143.6268

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Libreville,GA,75.22,0.3925,9.4537,Le Méridien Re-Ndama
8,Puerto Escondido,MX,86.32,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
10,Bandarbeyla,SO,76.91,9.4942,50.8122,JABIR HOTEL
17,Bensonville,LR,78.35,6.4461,-10.6125,Moinga
27,Atuona,PF,79.27,-9.8000,-139.0333,Villa Enata
28,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
31,Sorong,ID,79.70,-0.8833,131.2500,Waigo Splash Hotel
32,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
33,Comodoro Rivadavia,AR,78.66,-45.8667,-67.5000,Austral Hotel
35,Wewak,PG,77.67,-3.5534,143.6268,In Wewak Boutique Hotel

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]